<div class="container">
   <div class="row">

               <div class="col">
                  <h4>Agendamentos</h4>
               
                  <table class="responsive-table striped">
                     <thead>
                        <th>Cod.</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Horario</th>
                        <th>Serviço</th>
                        <th>Status</th>
                        <th><i class="material-icons red">delete</i></th>
                        <th><i class="material-icons blue">edit</i></th>
                        <th><i class="material-icons green">check</i></th>
                     </thead>
                     <tbody>
                        {{#each agendamentos }}
                        <tr>
                           <td>{{dataValues.id}}</td>
                           <td>{{dataValues.nome}}</td>
                           <td>{{dataValues.telefone}}</td>
                           <td>{{dataValues.horario}}</td>
                           <td>{{dataValues.servico}}</td>

                           <td><span class="">Agendado</span><span class="">Em Atendim.</span><span class="">Atendido</span></td>
                           <td><i onclick="remover({{dataValues.id}})" class="material-icons" title="Apagar o agendamento">delete</i></td>
                           <td><a href="/edit/{{dataValues.id}}"><i class="material-icons" title="Editar o agendamento">edit</i></a></td>
                           <td><a href="/marcar_atendido/{{dataValues.id}}"><i class="material-icons" title="Marcar como atendido"> check </i></td>
                        </tr>
                        {{/each}}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
  
<script>
   function remover(id) {
      location.href = "/deletar/"+id
   }
</script>
